//

.deleteButton:hover {
  color: red;
  transition: all 0.3s;
}
.editButton:hover {
  color: #ef6c00;
  transition: all 0.3s;
}

.ListOfCompanies {
  display: flex;
  flex-direction: row;
  .blockFirst {
    display: flex;
    flex-direction: row;
    text-align: left;
    .info {
      display: flex;
      flex-direction: row;
      text-decoration: none;
      .name {
        padding-left: 15px;
        color: #fff;
        width: 200px;
        height: auto;
        overflow-x: hidden;
      }
    }
  }
  .blockSecond {
    text-align: right;
    display: block;
    padding-right: 60px;
  }
  
}


